<% @stations.each do |station| %>
<ul class='station'>
  <li class='name'>Station Name: <%= station.name %> </li>
  <li class='address'>Station Address: <%= station.address %> </li>
  <li class='fuel_type'>Fuel Type: <%= station.fuel_type %> </li>
  <li class='distance'>Distance(miles): <%= station.distance %> </li>
  <li class='access_time'>Station Hours: <%= station.access_time %> </li>
</ul>
<% end %>
